body{
    background-color: royalblue;
}
div{
    background-color:aliceblue;
    border-radius: 20px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 40px;
}
h1{
    text-align: center;
    
    font-size: 80px;
    margin-top: 25px;
}
form{
    margin-top: 30px;
}
input{
    width: 130px;
    height: 80px;
    font-size: 45px;
    border-radius: 7px;
    margin: 8px;
    background-color: rgb(167, 207, 243);
    color: black;
    border-style: blue;
}